@font-face {
  font-family: blanka;
  src: url(/assets/fonts/blanka/Blanka-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

*{
    font-family: 'blanka','sans-serif';
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  background-color: black;
}

.header-col {
  border: 3px white solid;
  display: grid;
  grid-template-rows: 2fr 4fr;
}

.header-col > div {
  background-color: black;
}

.title {
  padding: 10px 120px;
}

.title > span {
  margin: 0;
  font-family: "blanka", "san-serif";
  color: white;
  font-size: 3rem;
}

.title > span:nth-child(2) {
  padding-left: 50px;
}

.title > span:nth-child(3) {
  padding-left: 100px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.player-names,.symbol{
    display: flex;   
    gap: 50px;
}

.player-names > span{
    margin: 0;
    font-family: 'Roboto','sans-serif';
    color: white;
    font-size: 1.5rem;
    padding: 20px;
}

.symbol > span{
    margin: 0;
    font-family: 'Roboto','sans-serif';
    color: white;
    font-size: 2rem;
    padding: 20px;
}

.symbol > span:nth-child(1){
    padding-right: 100px;
}

.gameboard-col {
  background-color: black;
  border: 3px white solid;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.gameboard-col > div {
  border: 1px white solid;
}

.status{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#start{
    appearance: none;
    outline: none;
    width: 100px;
    margin-right: 80px;
    height: 40px;
    background-color: black;
    border: 1px white solid;
    color: white;
    font-family: 'Roboto','sans-serif';
    font-size: 1rem;
    font-weight: 600;
}

#start:hover{
    background-color: white;
    color: black;
}

#start:active{
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
}

.gameboard{
    display: grid;
    justify-content: center;
    align-items: center;
}

#board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#board > div{
    border: 1px white solid;
    height: 130px;
    width: 130px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.X,.O{
    margin: 0;
    font-family: 'Roboto','sans-serif';
    color: white;
    font-size: 4rem;
    padding: 20px;
}

.win-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.win-msg > span{
    font-size: 3rem;
    padding: 50px;
    color: rgba(255, 245, 238, 0.9);
    letter-spacing: 0.5rem;
}